---
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stephen Mottershead</title>
    <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body>
    <header>
    </header>
    <section class="container">
        <h1>STEPHEN</h1>
        <h1>MOTTERSHEAD</h1>
        <ul role="list" class="social-links">
            <li class="twitter" aria-label="Twitter"><a href="https://twitter.com/SMMottershead">{% include socials/Twitter-logo.html %}</a></li>
            <li class="sketchfab" aria-label="Sketchfab"><a href="https://sketchfab.com/smmottershead">{% include socials/sketchfab-logo.html %}</a></li>
            <li class="artstation" aria-label="Artstation"><a href="https://www.artstation.com/smmottershead">{% include socials/ArtStation-logo.html %}</a></li>
            <li class="youtube" aria-label="Youtube"><a href="https://www.youtube.com/channel/UC7YByLfzcMs_3m6GkLBFzMw">{% include socials/YouTube-logo.html %}</a></li>
            <li class="bmac" aria-label="Buy Me A Coffee"><a href="https://www.buymeacoffee.com/SMMottershead">{% include socials/bmc-logo.html %}</a></li>
        </ul>
    </section>
    <footer>
    </footer>
</body>

</html>